{% extends "jqmobile/base.html" %}
{% load i18n jqmobile_tags %}

{% block navbar %}{% get_breadcrumb request.path %}{% endblock %}

{% block content %}
{% spaceless %}
{% if action_list %}
<ul id="{{ object.lower }}" title="{{ title }}" selected="true" data-role="listview" data-inset="true" data-theme="c" data-dividertheme="a">
	<li data-theme="a">{% trans "History" %}
    {% for action in action_list %}
    <li>
    {{ action.user.username }}, {{ action.action_time|date:_("DATETIME_FORMAT") }}<br />
    {{ action.change_message }}
    </li>
    {% endfor %}
</ul>
{% else %}
<div class="panel" selected="true">
<h1>{% trans "This object doesn't have a change history. It probably wasn't added via this admin site." %}</h1>
</div>
{% endif %}
{% endspaceless %}
{% endblock %}
