
/* Home button tweaks */

.ui-btn-home .hidden {
    display: none;
}
.ui-btn-home .home-icon {
    background: url("../jquery.mobile/images/icons-18-white.png") no-repeat scroll -579px 0 transparent;
    display: block;
    height: 15px;
    margin: 0 auto;
    width: 12px;
}

/* Chanfe form tweaks */

.ui-btn-delete {
    border: 1px solid #992626;
    background: #D93636;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #992626;
    background-image: -moz-linear-gradient(top,#D93636,#BF3030);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#D93636),color-stop(1,#BF3030));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D93636', EndColorStr='#BF3030')";
}


.error {
    padding: 15px 20px;
}

.form-row.errors input {
    border-color: #c30;
}

.errormsg {
    font-size: 14px;
    font-weight: normal;
    margin: 6px 0 0 345px;
    padding: 6px;
    width: 60%;
}

.min-width-480px .errormsg {
    margin-left: 22.3%;
}

