
/* Home button tweaks */

.ui-btn-home .hidden {
    display: none;
}
.ui-btn-home .home-icon {
    background: url("../jquery.mobile/images/icons-18-white.png") no-repeat scroll -579px 0 transparent;
    display: block;
    height: 16px;
    margin: 0 auto;
    width: 12px;
}



.error {
    padding: 15px 20px;
}

.form-row.errors input {
    border-color: #c30;
}

.errormsg {
    font-size: 14px;
    font-weight: normal;
    margin: 6px 0 0 345px;
    padding: 6px;
    width: 60%;
}

.min-width-480px .errormsg {
    margin-left: 22.3%;
}

