{% extends "jqmobile/base.html" %}
{% load i18n %}

{% block breadcrumbs %}{% trans "Log in" %}</a>{% endblock %}

{% block content %}
<form action="{{ app_path }}" class="panel" method="post" selected="true">{% csrf_token %}
    {% if error_message %}<h1 class="error">{{ error_message }}</h1>{% endif %}
    <div class="ui-body ui-body-c">
        <div data-role="fieldcontain" class="ui-body ui-br">
            <label for="id_username" class="required">{% trans "Username:" %}</label>
            <input type="text" name="username" id="id_username" value="" />
        </div>
        <div data-role="fieldcontain" class="ui-body ui-br">
            <label for="id_password" class="required">{% trans "Password:" %}</label>
            <input type="password" name="password" id="id_password" value="" />
            <input type="hidden" name="this_is_the_login_form" value="1" />
            <input type="hidden" name="post_data" value="{{ post_data }}" />
        </div>
    </div>
</form>
<script type="text/javascript">$(function(){ $('#id_username').focus() })</script>
{% endblock %}

{% block page.footer %}
<div for="footer_id" data-role="footer" class="ui-bar" data-position="fixed" data-backbtn="false">
	<a id="save-object" data-theme="b" data-iconpos="left" data-icon="check" onclick="document.forms[0].submit();">{% trans "Log in" %}</a>
	<a id="clear-object" data-theme="b" data-iconpos="left" data-icon="delete" onclick="document.forms[0].reset();" class="ui-btn-delete">{% trans "Clear" %}</a>
	<script>
    $(function(){
		$('#save-object').bind('click', function(){
            $('form:first').submit()
            return false
        })
	})
	</script>
</div>
{% endblock %}
